.vscode/**
.vscode-test/**
.local/**
.mypy_cache/**
.git/**
src/**
out/test/**
node_modules/**
examples/**

.gitignore
.yarnrc
.npmrc
.eslintrc.json
.github-summary.md
vsc-extension-quickstart.md
DEVELOPMENT.md
FEATURES.md
QUICKSTART.md
esbuild.js
tsconfig.json
eslint.config.mjs
pnpm-lock.yaml
test.gif

**/*.ts
**/*.map
**/.vscode-test.*
